@font-face {
    font-family: Nilland;
    src: url('/fonts/nilland/Nilland.ttf');
}

.video-section .pattern-overlay {
    padding: 0px 0px 32px 0px;
    min-height: 496px;
    /* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
    text-align:center;
    color:#fff;
}
.video-section h1{
    font-size:110px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 40px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
    font-size: 25px;
    font-weight:lighter;
    margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

/*This removes the bottom padding of the navbar */
.remove-bot-pad{
    margin-bottom: 0px;
}

/*This is an overlay over the video while it is loading*/
.imageOverlay{
    position:absolute;
    height:100%;
    width:100%;
    /*left:0;*/
    /*top:0;*/
    background-image: url("../img/projectlivelove_transparent.png");
    background-repeat: no-repeat;
    background-position: center;
}

/*Adds a strip under the video for the buttons*/
.strip{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
}

/*Styling for buttons in the strip*/
.buttonBar {
    padding: 20px;
}

.buttonBar > .btn-toolbar > button {
    font-weight: bolder;
}


/*Styling for search bar*/
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 20%;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 25%;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    /*color: #999;*/
}
input::-webkit-input-placeholder {
    /*color: #999;*/
}

.active {
    outline: 0;
    text-decoration: none;
    background-color: #f0f0f0;
}
