.navbar-drawer-expand {
    padding: .7em 1em;
}

.font-bold {
    font-weight: 900;
}

.mylivelove-font {
    font-weight: 600;
    font-size:20px;
    text-transform: uppercase;
}

.img{
    width: 150px;
    height: 150px;
    background-size: cover;
}
